<form>
  <div class="inspectionForm">
    <div class="addingBtn">
      <button class="base-button" (click)="addByURL(UrlToAdd.value);">Add</button>
    </div>
    <input placeholder="Enter URL" type="text" id="UrlToAdd" name="url" #UrlToAdd>
  </div>

  <div class="inspectionForm">
    <div class="removeBtn">
      <button class="base-button" (click)="delete(UrlToRemove.value);">Delete</button>
    </div>
    <input placeholder="Enter URL" type="text" id="UrlToRemove" name="url" #UrlToRemove>
  </div>
</form>
