<div class="control-panels">
  <div class="search-panel">
    <button class="base-button"  (click)="getAll()">All items</button>
  </div>
  <div class="search-panel">
    <button class="base-button" (click)="getWordsAtPage(UrlWordSearch.value, wordPartSource.value)">Find words</button>
    <input class="base-input" placeholder="Enter url" type="text" id="urlWordSearch" name="urlWordSearch" #UrlWordSearch>
    <input class="base-input" placeholder="Enter word (or part)" type="text" id="wordPartSource" name="wordPartSearch" #wordPartSource>
    <br>
    <select class="base-option">
      <option  *ngFor = "let item of wordsAtNewsPage$|async">{{item}}</option>
    </select>
  </div>
  <div class="search-panel">
    <button class="base-button" (click)="getEntitiesAtPage(entitiesByPageUrl.value, entitiesByPageEntity.value)">Find entities at page</button>
    <input class="base-input" placeholder="Enter url" type="text" id="entitiesByPageUrl" name="entitiesByPageUrl" #entitiesByPageUrl>
    <input class="base-input" placeholder="Enter entity (ex. person)" type="text" id="entitiesByPageEntity" name="wordPartSearch" #entitiesByPageEntity>
    <br>
    <select class="base-option">
      <option  *ngFor = "let item of entitiesAtNewsPage$|async">{{item}}</option>
    </select>

  </div>
  <div class="search-panel">
    <button class="base-button" (click)="getPagesByEntity(pagesByEntitySearch.value)">Find pages by entity</button>
    <input class="base-input" placeholder="Enter entity (ex. person)" type="text" id="pagesByEntitySearchSource" name="wordPartSearch" #pagesByEntitySearch>
  </div>
  <div class="search-panel">
    <button class="base-button" (click)="getPagesByName(pageName.value)">Find pages by name</button>
    <input class="base-input" placeholder="Enter pages name" (change)="getPagesByName(pageName.value)" type="text" id="pageName" name="wordPartSearch" #pageName>
  </div>

</div>

<div class="items">
  <table>
    <thead>
      <th>Id</th>
      <th>Title</th>
      <th>URL</th>
      <th>Date</th>
      <th>Text</th>
      <th>Html text</th>
    </thead>
    <tbody>
      <tr *ngFor = "let item of newsPagesList$|async">
        <td class="items-value">
          {{item.id}}
        </td>
        <td class="title-item items-value">
          <!--<link rel="alternate" href="{{item.url}}">&ndash;&gt;-->
          {{item.title}}
        </td>
        <td class="items-value">
          <input readonly class="item-url" value="{{item.url}}" type="text">
        </td>
        <td class="items-value">
          {{item.date}}
        </td>
        <td class="items-value">
          <textarea class="big-text" readonly  id="" cols="30" rows="10">
            {{item.text}}
          </textarea>
        </td>
        <td class="items-value">
          <textarea class="big-text" readonly cols="30" rows="10">
            {{item.text_html}}
          </textarea>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br>
