@use '../sizes';

.base-button{
  margin: 12px 8px 15px 0;
  border-radius: 5px;
}
.base-option{
  margin-top: 17px;
  min-width: 125px;
}
.base-input{
  margin-right: 12px;
}
.title-item{
  max-width: sizes.$titleSize;
}
.items-value{
  padding: 12px;
  border: 2px solid gray;
}
.big-text{
  border: none;
  outline: none;
}
.item-url{
  max-width: sizes.$titleSize;
}
